<h2>List of Bookstores and Coffeeshops </h2>
<ul>
  <% places.forEach((place) => { %>
    <li>
      <a href="places/<%= place._id%>"> </a>
        <%= place.title%> 
        <br>
        Description:
        <%= place.description %>
        <br>
        <a href="places/<%= place._id%>/edit">Edit</a> |
        <a href="places/<%= place._id%>/delete">Delete</a>
    </li>
  <% }) %>
</ul>

